* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

header {
  height: 5rem;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ee4a1e;
  color: #000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
}

.navbar span {
  font-size: 1.4rem;
  font-weight: 400;
}

.navbar .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navbar .menu li a {
text-decoration: none;
color: #000;
font-size: 1.5rem;
text-transform: uppercase;
font-weight: bold;
}





/* Hero Section */

.hero {
  background-color: #ee4a1e;
  color: #000;
}

